<form>
  <div class="field">
    <%= label_tag 'web_address_text', t('location', scope: 'refinery.admin.links_dialog.link_to.web_address') %>
    <%= url_field :web_address, :text, value: 'http://', class: 'text widest', required: true %>
  </div>
  <div class="field">
    <%= label_tag '', t('new_window', scope: 'refinery.admin.links_dialog.link_to.web_address') %>
    <input type="checkbox" name="web_address_target_blank" id="web_address_target_blank" />
    <%= label_tag 'web_address_target_blank',
                t('new_window_label', scope: 'refinery.admin.links_dialog.link_to.web_address'),
                class: 'stripped' %>
  </div>
  <p>
    <strong><%= t('not_sure', scope: 'refinery.admin.links_dialog.link_to.web_address') %></strong>
  </p>
  <ol>
    <li><%= t('step1', scope: 'refinery.admin.links_dialog.link_to.web_address') %></li>
    <li><%= t('step2', scope: 'refinery.admin.links_dialog.link_to.web_address') %></li>
  </ol>
  <div class="field">
    <input type="submit" value="<%= t('submit', scope: 'refinery.admin.form_actions') %>" />
  </div>
</form>
